body {
    width: 30%;
}
#title {
    margin-left: 10px;
}

.buttons {
    width: auto;
    display: inline-block;
    height: 600px;
    font-size: 0;
}

.button, #clear, #one{
    height: 50px;
    width: 25%;
    font-size: 14px;
    justify-self: start;
    
}


#display {
    height: 100px;
    width: 95%;
    border: black;
    border: thick;
    background-color: grey;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content:right;
    align-items: center;
    font-size: 35px;
}



/* 

  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;


*/