body {
    width: 30%;
}
#title {
    margin-left: 10px;
}

.buttons {
    width: auto;
    display: inline-block;
    height: 600px;
    font-size: 0;
}

.button, #clear, #one, .operators, #solve, #decimal, #delete{
    height: 50px;
    width: 25%;
    font-size: 14px;
    justify-self: start;
    
}

#screen {
    display: grid;
    height: 100px;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        "displayone operator"
        "displaytwo displaytwo"
}


#displayone {
    border: black;
    background-color: grey;
    padding: 5px;
    display: flex;
    justify-content:left;
    align-items: center;
    font-size: 35px;
    grid-area: displayone;
}

#displaytwo {
    border: black;
    border: thick;
    background-color: grey;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    justify-content:left;
    font-size: 35px;
    grid-area: displaytwo;

}

#operator {
    border: black;
    border: thick;
    background-color: grey;
    padding: 5px;
    grid-area: operator;
}

/* 

  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;


*/